<!-- HEADER + GNB -->
<header id="header">		
    <!-- HEADER -->
    <h1><a href="#"><img class="logoClass" src="../../../static/admin/images/common/logo.png" alt="BANILA.COM"></a></h1>	
    <a  onclick="mNavShow()" class="mypageBtn" title="마이페이지"><img src="../../../static/admin/images/common/usericon.png" alt="마이페이지" /></a>
    <nav class="mNav" style="display: none;">
        <ul>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
            <li><a href="#">로그아웃</a></li>
            <li><a href="#">내정보수정</a></li>
        </ul>
    </nav>					
</header>
<!-- //HEADER -->